<ion-header>
  <ion-toolbar>
    <ion-buttons class="fl">
      <ion-button>
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-block: 5px;">
    Add Todo's
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="success" class="tc">Enter Todo here</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup] = "form">
        <ion-item>
          <ion-label position="floating">Title</ion-label>
          <ion-input type="text" formControlName="title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-textarea placeholder="placeholder" formControlName="description"></ion-textarea>
        </ion-item>
        <ion-button type="submit" size="full" shape="round">Submit</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
