.btn {
  padding-block: 1rem;
  padding-inline: 1.5rem;
  font-size: 1rem;
  font-weight: bolder;
  background: lightslategrey;
  color: white;
  border-radius: 14px;
}
.fw {
  font-weight: 900 !important;
}

.br {
  border-bottom: 1px solid #778899;
  margin-bottom: 1rem;
}
.sticky {
  position: sticky;
  top: 0%;
  background-color: white;
  z-index: 999;
}
.done {
  text-decoration: line-through;
  color: red !important;
}
.fc {
  color: darkmagenta;
}
.btn-danger {
  background: #bf4656 !important;
}