<ion-header>
  <ion-toolbar>
    <ion-title>Today Todo's</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid [fixed]="true">
    <ion-row class="mb-1 sticky">
      <ion-col class="fit-cont">
        <div class="mx-auto fit-cont">
          <button type="button" class="btn" (click)="gotoTodo()">Add Todoy todo's</button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="br" *ngFor="let todo of todos;let i = index;">
      <ion-col size="7">
        <div>
          <div>
            <span class="fw mb-0-5 dib fc" style="text-transform: capitalize;">todo title</span>
            <p class="mt-0" [ngClass]="{done: todo.status === 'done'}" style="text-transform: capitalize; color: #102f29;">{{ todo.title }}</p>
          </div>
          <div>
            <span class="fw mb-0-5 dib fc" style="text-transform: capitalize;">todo description</span>
            <p class="mt-0" [ngClass]="{done: todo.status === 'done'}" style="text-transform: capitalize; color: #102f29;">{{ todo.description }}</p>
          </div>
        </div>
      </ion-col>
      <ion-col size="5" class="d-flex jcc aic">
        <button class="btn btn-success" *ngIf="todo.status === 'open'" (click)="markAsFinished(todo.id, todo)">Mark as completed</button>
        <button class="btn btn-danger"  *ngIf="todo.status === 'done'"  (click)="deleteTodo(todo.id)">Delete</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>